
body {
	font-family: Arial, serif;
	font-size: 14px;
}

#topMenu {
	padding-top: 15px;
	right: 0;
	float: right;
	font-size: 13px;
}

#topMenu a, footer a {
	color: #555;
}

li {
	display: inline;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#userId {
	width: 30px;
	height: 30px;
	background-color: green;
	color: white;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
}

img {
	padding-top: 130px;
	padding-bottom: 30px;
	height: 95px;
	display: block;
	margin: auto;
	clear: both;
}

input {
	display: block;
	margin: auto;
	width: 460px;
	padding: 9px;
	font-size: 16px;
}

input:onclick {

}

button {
	margin-top: 28px;
	background-color: #EEE;
	box-shadow: none;
	padding: 10px;
	border-radius: 2px;
	border: none;
	font-weight: 700;
	font-size: 13px;
	color: #777;
}

button:hover {
	color: black;
	border: 1px solid #DDD;
}

footer {
	background-color: #EEE;
	padding: 15px 0 15px 0;
	margin: auto;
	display: block;
	height: 20px;
	border: 1px solid #DDD;
	width: 100%;
	clear:both;
	position: fixed;
	bottom: 0;
}

ul {
	display: inline;
}

.leftAlign {
	/*float: left;*/
	position: absolute;
	left: 0px;
}

.rightAlign {
	/*float: right;*/
	position: absolute;
	right: 0px;
}