
body {
	font-family: Arial, serif;
	font-size: 14px;
}

#topMenu {
	padding-top: 15px;
	right: 0;
	float: right;
	font-size: 13px;
}

#topMenu a, footer a {
	color: #555;
}

li {
	display: inline;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#userId {
	background-color: #4285F4;
	color: white;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
	padding: 8px 12px;
	font-weight: 600;
}

.center {
	margin: auto;
}

img {
	padding-top: 130px;
	padding-bottom: 30px;
	height: 95px;
	display: block;
	/*margin: auto;*/
	clear: both;
}

input {
	display: block;
	/*margin: auto;*/
	width: 460px;
	padding: 9px;
	font-size: 16px;
}

input:onclick {
/*  */
}
#buttons {

}
button {
	margin: auto;
	margin-top: 28px;
	background-color: #EEE;
	box-shadow: none;
	padding: 10px;
	border-radius: 2px;
	border: none;
	font-weight: 700;
	font-size: 13px;
	color: #777;
	display: block; /* Closer... but not in line. :( */
}

button:hover {
	color: black;
	border: 1px solid #DDD;
}

footer {
	background-color: #EEE;
	padding: 10px 0; /*15px 0;
	margin: auto;*/
	display: block;
	height: 20px;
	border: 1px solid #DDD;
	width: 100%;
	clear: both;
	position: fixed;
	bottom: 0;
	left: -2px;
	right: -2px;
}

ul {
	display: inline;
}

}
.leftAlign {
	/*float: left;*/
	position: absolute;
	left: 0px;
	margin-left: -15px;
	padding-bottom: 6px;
}

.rightAlign {
	/*float: right;*/
	position: absolute;
	right: 0px;
}